{% extends "base.html" %}
{% load staticfiles %}

{% block title %}SOA WebSolution{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/tablestyle.css' %}">{% endblock %}
{% block js %}
    <script src="http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js"></script>
    <script language="javascript" type="text/javascript">
        $(function () {
            $('.table-hover tr').hide();
            $('.table-hover').find('.table-logs').show();

            $('.table-hover .table-logs').click(function(){
                $('.table-hover tr').hide();
                $('.table-hover').find('.table-logs').show();
                $('.table-hover').find('.table-logs').css('background-color', '#fff');
                var tr = $('.table-hover tr');
                var rindex = $(this).parent().children().index(this);
                $(this).css('background-color', '#f7f7f7');
                for(var i = rindex; i < rindex + 2; i++){
                    $(tr[i]).show();
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="table-title">
        <h3>Test Data Table (Current Page : {{ currentPage }})</h3>
    </div>

    <nav class="table-menu">
        <ul>
            <li><a href="#">AAA</a></li>
            <li><a href="#">BBB</a></li>
        </ul>
    </nav>

    <div class="cd-search is-hidden">
        <form id="search-form" method="post" action=".">{% csrf_token %}
            {% if search_data %}
                <input type="search" name="search_data" placeholder="{{ search_data }}" />
            {% else %}
                <input type="search" name="search_data" placeholder="Search..." />
            {% endif %}
        </form>
    </div> <!-- Search From END -->

    <div class="table-wrapper">
        <div class="table-content">
            <table class="table-fill">
                <thead>
                    <tr>
                        <th class="text-left">No</th>
                        <th class="text-left">AAAAA</th>
                        <th class="text-left">BBBBB</th>
                        <th class="text-left">CCCCC</th>
                        <th class="text-left">DDDDD</th>
                    </tr>
                </thead>

                <tbody class="table-hover">
                    {% if dataList %}
                        {% for dataRow in dataList %}
                            <tr class="table-logs">
                                <td class="text-left">1</td>
                                <td class="text-left">2</td>
                                <td class="text-left">3</td>
                                <td class="text-left">4</td>
                                <td class="text-left">5</td>
                            </tr>
                            <tr class="table-hide">
                                <td colspan="5">
                                    <img src="{% static 'img/BoB Logo.png' %}">
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <td class="text-center" colspan="5" width="1300">No Data</td>
                    {% endif %}
                </tbody>
            </table> <!-- Content Table END -->
        </div>
        <hr class="style3">

        <div class="table-number-cover">
            <span>
                {% ifequal 1 prev %}
                    <form class="table-number" method="post" action="./">{% csrf_token %}
                        {% if search_data %}
                            <input type="hidden" name="search_data" value={{ search_data }} />
                            <input type="hidden" name="prev" value={{ currentPage }} />
                            <input type="submit" value="<" />
                        {% else %}
                            <input type="hidden" name="prev" value={{ currentPage }} />
                            <input type="submit" value="<" />
                        {% endif %}
                    </form>
                {% endifequal %}
                {% for page in totalPageList %}
                    <form class="table-number" method="post" action="./">{% csrf_token %}
                        {% if search_data %}
                            <input type="hidden" name="search_data" value={{ search_data }} />
                            <input type="hidden" name="page" value={{ page }} />
                            <input type="submit" value="[{{ page }}]" />
                        {% else %}
                            <input type="hidden" name="page" value={{ page }} />
                            <input type="submit" value="[{{ page }}]" />
                        {% endif %}
                    </form>
                {% endfor %}
                {% ifequal 1 next %}
                    <form class="table-number" method="post" action="./">{% csrf_token %}
                        {% if search_data %}
                            <input type="hidden" name="search_data" value={{ search_data }} />
                            <input type="hidden" name="next" value={{ currentPage }} />
                            <input type="submit" value=">" />
                        {% else %}
                            <input type="hidden" name="next" value={{ currentPage }} />
                            <input type="submit" value=">" />
                        {% endif %}
                    </form>
                {% endifequal %}
            </span>
        </div><!-- Table Number END -->
    </div>
{% endblock %}