{% extends "base.html" %}
{% load staticfiles %}

{% block title %}SOA WebSolution{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/tablestyle.css' %}">{% endblock %}

{% block content %}
    <nav class="table-menu">
        <ul>
            <li><a href="#">AAA</a></li>
            <li><a href="#">BBB</a></li>
        </ul>
    </nav>

    <div class="dashboard">
        <iframe src="http://cdisc.co.kr:5601/app/kibana#/dashboard/11ea8b80-dfe8-11e7-9eed-275794a89f04?embed=true&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'Wed+Mar+01+2017+00:00:00+GMT%2B0900',mode:absolute,to:'Sun+Apr+30+2017+23:59:59+GMT%2B0900'))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(darkTheme:!f),panels:!((col:5,id:'37b0f7b0-dfec-11e7-9eed-275794a89f04',panelIndex:2,row:1,size_x:8,size_y:3,type:visualization),(col:1,id:'52ae8190-dff1-11e7-9eed-275794a89f04',panelIndex:3,row:1,size_x:4,size_y:3,type:visualization),(col:1,id:'72f85840-dff1-11e7-9eed-275794a89f04',panelIndex:4,row:4,size_x:4,size_y:3,type:visualization),(col:5,columns:!(center_team,reasontype),id:e073c560-dff3-11e7-9eed-275794a89f04,panelIndex:5,row:4,size_x:8,size_y:3,sort:!(Time,desc),type:search)),query:(language:lucene,query:''),timeRestore:!t,title:'Real+Dash+Board',uiState:(),viewMode:view)"></iframe>
    </div>
{% endblock %}