{% extends "base.html" %}
{% load staticfiles %}

{% block title %}SOA WebSolution{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/reportstyle.css' %}">{% endblock %}

{% block content %}
    <form method="post" action="{% url 'report_complete' %}">{% csrf_token %}
        <div class="title">
            <h1><input type="text" name="title" value="[업무 파일 반출] {{ rMonth }}월 {{ rWeek }}주차 주간 보고서" readonly/>
            <input type="submit" name="submit" value="작성">
            <input type="button" name="back" value="취소" onclick="history.back();"></h1>
        </div>
        <hr class="style3">
        <div class="summary">
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
                <input type="text" name="summary" value="{{ prevdate.month }}/{{ prevdate.day }}({{ pDow }}) ~ {{ nextdate.month }}/{{ nextdate.day }}({{ nDow }}) 총 {{ reason_totalCnt }}개 사유서 발송 중 {{ replyCnt }}개 회신 (위반 {{ vioCnt }}개, 업무 {{ bisCnt }}개)" readonly/>
            </h2>
        </div>
        <div class="sub-title">
            <h2>[특이사항]</h2>
        </div>
        <div class="singularity">
            <ul class="disc">
                <li class="typeRank">유형별 반출 통계 :
                    <input type="text" name="typeRank" value="{% if vioRank %}{% for vio in vioRank %}{{ vio }}{% if forloop.last %}{% else %} > {% endif %}{% endfor %}{% endif %}" readonly/></li>
                <li class="severityCnt">반출 심각도 통계 :
                    <input type="text" name="severity-Cnt" value="[上] {{ highSeverityCnt }},  [中] {{ middleSeverityCnt }},  [下] {{ lowSeverityCnt }}" readonly/></li>
                <li class="top5">보안 위반자 소속 TOP 5 :
                    <input type="text" name="top5" value="{% if topTeam %}{% for team in topTeam%}{{ team }}{% if forloop.last %}{% else %}, {% endif %}{% endfor %}{% endif %}" readonly/></li>
            </ul>
        </div>
        <div class="sub-title">
            <h2>[주요 위반자]</h2>
        </div>
        <div class="main-violator">
            <ul class="disc">
                <li class="violator">
                    <input type="text" name="violator" value="{% for key, value in violator.items %}{{ value }} {% endfor %}포함 {{ violatorCnt }}명" readonly/>
                <li style="list-style-type: none">
                    <ul class="dashed">
                        <li class="outflowFile">WEB 반출 파일 :
                            <input type="text" name="web-file" value="{% if web_outfile %}{{ web_outfile }}{% else %} - {% endif %}" readonly/>
                        </li>
                        <li class="outflowFile">USB 반출 파일 :
                            <input type="text" name="usb-file" value="{% if usb_outfile %}{{ usb_outfile }}{% else %} - {% endif %}" readonly/>
                        </li>
                        <li class="outflowFile">APP 반출 파일 :
                            <input type="text" name="app-file" value="{% if app_outfile %}{{ app_outfile }}{% else %} - {% endif %}" readonly/>
                        </li>
                        <li class="outreason">반출 사유 :
                            <input type="text" name="outreason" value="{{ outreason }}" readonly/>
                        </li>
                        <li class="accumulateCnt">총 누적 위반 횟수 :
                            <input type="text" name="accumulateCnt" value="{{ mainvioTotalCnt }}회" readonly/>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="sub-title">
            <h2>[조치사항]</h2>
        </div>
        <div class="measure">
            <ul>
                <li>
                    <textarea name="measure" cols="67" rows="8"></textarea>
                </li>
            </ul>
        </div>
        <hr class="style3">
        <div class="writer">
            <h2>경영지원본부 보안팀</h2>
        </div>

        <div class="graph">
            {% static variable_with_path as staticpath %}
            <img src="{{ staticpath }}graph/{{ graph_name }}">
            <input type="hidden" name="graph_name" value="{{ graph_name }}">
        </div>
    </form>
{% endblock %}