{% extends "base.html" %}
{% load staticfiles %}

{% block title %}SOA WebSolution{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/reportstyle.css' %}">{% endblock %}
{% block js %}
    <script>
        function test() {
            window.open('{% url 'report_down' report_id %}');
        }
    </script>
{% endblock %}

{% block content %}
    <form method="post" action="#">{% csrf_token %}
        <div class="title">
            <h1><input type="text" name="title" value="{{ reportData.title }}" readonly/>
            <input type="button" name="save" value="저장" onclick="test();">
            <input type="button" name="back" value="취소" onclick="history.back();"></h1>
        </div>
        <hr class="style3">
        <div class="summary">
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
                <input type="text" name="summary" value="{{ reportData.summary }}" readonly/>
            </h2>
        </div>
        <div class="sub-title">
            <h2>[특이사항]</h2>
        </div>
        <div class="singularity">
            <ul class="disc">
                <li class="typeRank">유형별 반출 통계 :
                    <input type="text" name="typeRank" value="{{ reportData.type_rank }}" readonly/></li>
                <li class="severityCnt">반출 심각도 통계 :
                    <input type="text" name="severity-Cnt" value="{{ reportData.severity_cnt }}" readonly/></li>
                <li class="top5">보안 위반자 소속 TOP 5 :
                    <input type="text" name="top5" value="{{ reportData.top5 }}" readonly/></li>
            </ul>
        </div>
        <div class="sub-title">
            <h2>[주요 위반자]</h2>
        </div>
        <div class="main-violator">
            <ul class="disc">
                <li class="violator">
                    <input type="text" name="violator" value="{{ reportData.violator }}" readonly/>
                <li style="list-style-type: none">
                    <ul class="dashed">
                        <li class="outflowFile">WEB 반출 파일 :
                            <input type="text" name="web-file" value="{% ifnotequal reportData.web_file None %}{{ reportData.web_file }}{% endifnotequal %}" readonly/>
                        </li>
                        <li class="outflowFile">USB 반출 파일 :
                            <input type="text" name="usb-file" value="{% ifnotequal reportData.usb_file None %}{{ reportData.usb_file }}{% endifnotequal %}" readonly/>
                        </li>
                        <li class="outflowFile">APP 반출 파일 :
                            <input type="text" name="app-file" value="{% ifnotequal reportData.app_file None %}{{ reportData.app_file }}{% endifnotequal %}" readonly/>
                        </li>
                        <li class="outreason">반출 사유 :
                            <input type="text" name="outreason" value="{{ reportData.outreason }}" readonly/>
                        </li>
                        <li class="accumulateCnt">총 누적 위반 횟수 :
                            <input type="text" name="accumulateCnt" value="{{ reportData.accumulate_cnt }}" readonly/>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="sub-title">
            <h2>[조치사항]</h2>
        </div>
        <div class="measure">
            <ul>
                <li>
                    <textarea name="measure" cols="67" rows="8" readonly>{{ reportData.measure }}</textarea>
                </li>
            </ul>
        </div>
        <hr class="style3">
        <div class="writer">
            <h2>경영지원본부 보안팀</h2>
        </div>

        <div class="graph">
            {% static variable_with_path as staticpath %}
            <img src="{{ staticpath }}graph/{{ reportData.graph_name }}">
        </div>
    </form>
{% endblock %}