{% extends "base.html" %}
{% load staticfiles %}

{% block title %}SOA WebSolution{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/reportstyle.css' %}">{% endblock %}

{% block content %}
    <form>
        <div class="title">
            <h1><input type="text" name="title" value="[업무 파일 반출] {{ rMonth }}월 {{ rWeek }}주차 주간 보고서" readonly/>
            <input type="button" name="submit" value="작성" onclick="">
            <input type="button" name="back" value="취소" onclick="history.back();"></h1>
        </div>
        <hr class="style3">
        <div class="summary">
            <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
                <input type="text" name="summary" value="{{ pMonth }}/{{ pDay }}({{ pDow }}) ~ {{ nMonth }}/{{ nDay }}({{ nDow }}) 총 {{ reason_totalCnt }}개 사유서 발송 중 {{ replyCnt }}개 회신 (위반 {{ vioCnt }}개, 업무 {{ bisCnt }}개)" readonly/>
            </h2>
        </div>
        <div class="sub-title">
            <h2>[특이사항]</h2>
        </div>
        <div class="singularity">
            <ul class="disc">
                <li class="typeRank">유형별 반출 통계 :
                    <input type="text" name="typeRank" value="(USB) (4) > (APP) (3) > (WEB) (2)" readonly/></li>
                <li class="severityCnt">반출 심각도 통계 :
                    <input type="text" name="severity-Cnt" value="[上] (4),  [中] (3),  [下] (2)" readonly/></li>
                <li class="top5">보안 위반자 소속 TOP 5 :
                    <input type="text" name="top5" value="(사원1), (사원2), (사원3), (사원4), (사원5)" readonly/></li>
            </ul>
        </div>
        <div class="sub-title">
            <h2>[주요 위반자]</h2>
        </div>
        <div class="main-violator">
            <ul class="disc">
                <li class="violator">
                    <input type="text" name="violator" value="(서울본부 마케팅팀) (김가영) (대리) 포함 (3)명" readonly/>
                <li style="list-style-type: none">
                    <ul class="dashed">
                        <li class="outflowFile">WEB 반출 파일 :
                            <input type="text" name="web-file" value="(파일1), (파일2)" readonly/>
                        </li>
                        <li class="outflowFile">USB 반출 파일 :
                            <input type="text" name="usb-file" value="(파일1), (파일2)" readonly/>
                        </li>
                        <li class="outflowFile">APP 반출 파일 :
                            <input type="text" name="app-file" value="(파일1), (파일2)" readonly/>
                        </li>
                        <li class="outreason">반출 사유 :
                            <input type="text" name="outreason" value="(반출 사유...)" readonly/>
                        </li>
                        <li class="accumulateCnt">총 누적 위반 횟수 :
                            <input type="text" name="accumulateCnt" value="(2)" readonly/>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="sub-title">
            <h2>[조치사항]</h2>
        </div>
        <div class="measure">
            <ul>
                <li>
                    <textarea name="measure" cols="67" rows="8"></textarea>
                </li>
            </ul>
        </div>
        <hr class="style3">
        <div class="writer">
            <h2>경영지원본부 보안팀</h2>
        </div>

        <div class="graph">
            <img src="{% static 'graph/test1.png' %}">
        </div>
    </form>
{% endblock %}