{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SOA WebSolution</title>

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <script type="text/javascript" language="JavaScript">
    function test() {
        opener.open("{% url 'report_write' %}","_self").close();
        window.close();
    }
    </script>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>
    <script>
        $(function() {
        $( "#aaa" ).datepicker({
            showOn: 'button',
            dateFormat: "yy-mm-dd",
            nextText: '다음 달',
            prevText: '이전 달',
            dayNames: ['월요일', '화요일', '수요일', '목요일', '금요일', '토요일', '일요일'],
            dayNamesMin: ['월', '화', '수', '목', '금', '토', '일'],
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
            onSelect: function(selectDate){
                $('#month').detepicker('getDate');

            },
            onClose: function () {
                $('#aaa').val(date.getYear());
                $('#month').val(date.getMonth()+1);
                $('#date').val(date.getDate());
                $('#day').val(date.getDay());
            }
        });
    });
    </script>
</head>
<body>
    <h1>보고서 새로 만들기</h1>
    <form method="get" action="{% url 'report_write' %}">
        <input type="text" id="aaa" name="year" />
        <input type="text" id="month" name="month" />
        <input type="text" id="date" name="day" />
        <input type="text" id="day" name="dayname" />
        <input type="button" value="다음" onclick="test();">
    </form>


</body>
</html>