{% extends "base.html" %}
{% load staticfiles %}

{% block title %}SOA WebSolution{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/guideline.css' %}">{% endblock %}
{% block js %}<script src={% static 'js/jquery-2.1.4.js' %}></script>{% endblock %}

{% block content %}
    <nav class="table-menu">
        <ul>
            <li><a href="{% url 'guideline_statute_pact' %}">중소기업기술보호법</a></li>
            <li><a href="{% url 'guideline_statute_ww' %}">상생협력법</a></li>
            <li><a href="{% url 'guideline_statute_itp' %}">산업기술보호법</a></li>
            <li><a href="{% url 'guideline_statute_puc' %}">부정경쟁방지법</a></li>
        </ul>
    </nav>

    <div class="content-title">
        <h5>부정경쟁방지 및 영업비밀보호에 관한 법률<font style="font-size:18px;">( 약칭 : 부정경쟁방지법 )</font></h5>
        <h2>[시행 2017.07.26.] [법률 제14839호, 2017.07.26., 타법개정]</h2>
        <h2 style="text-align: right; margin-right:20px;">특허청(산업재산보호정책과), 042-481-3310</h2>
    </div>

    <hr class="style3">

    <div class="contents-wrapper">
        {% for data in statuteData %}
            {% ifequal data.contents None %}
                <pre class="contents-main-title">{{ data.article }}</pre><br>
            {% else %}
                <pre class="contents-sub-title">{{ data.article }}</pre>
                <pre class="contents-content" style="white-space: pre-wrap">{{ data.contents }}</pre><br><br>
            {% endifequal %}
        {% endfor %}
    </div>

    <div class="move_top">
        <a id="MOVE_TOP_BTN" href="#"><img src="{% static 'img/Top-Button.png' %}" width="50" height="50"></a>
    </div>

    <script>
    $(function() {
        $(window).scroll(function() {
            if ($(this).scrollTop() > 200) {
                $('.move_top').fadeIn();
            } else {
                $('.move_top').fadeOut();
            }
        });

        $("#MOVE_TOP_BTN").click(function() {
            $('html, body').animate({
                scrollTop : 0
            }, 400);
            return false;
        });
    });
    </script>
{% endblock %}