{% extends "base.html" %}
{% load staticfiles %}

{% block title %}SOA WebSolution{% endblock %}
{% block css %}<link rel="stylesheet" href="{% static 'css/guideline.css' %}">{% endblock %}

{% block content %}
    <div class="content-title">
        <h5>중소기업기술 보호 지원에 관한 법률 <font style="font-size:18px;">( 약칭 : 중소기업기술보호법 )</font></h5>
        <h2>[시행 2017.07.26.] [법률 제14839호, 2017.07.26., 타법개정]</h2>
        <h2 style="text-align: right; margin-right:20px;">중소벤처기업부(기술협력보호과), 042-481-4400</h2>
    </div>

    <hr class="style3">

    <div class="contents-wrapper">
        {% for data in statuteData %}
            {% ifequal data.contents None %}
                <pre class="contents-main-title">{{ data.article }}</pre><br>
            {% else %}
                <pre class="contents-sub-title">{{ data.article }}</pre>
                <pre class="contents-content" style="white-space: pre-wrap">{{ data.contents }}</pre><br><br>
            {% endifequal %}
        {% endfor %}
    </div>
{% endblock %}